<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     
</head>
<body>
    {{!-- {{{lbody}}} --}}
 <div class="container">
        <div class="form">

            <div class="form-control">
                <label for="email">Display Name..</label>
                <input type="text" name="name" id="uniqueID" value="" placeholder="Enter your Name" autocomplete="off"/>
                {{!-- <input type="text" id="email" > --}}
            </div>

        <button onclick="displayName()" class="btn">Log In</button>
            {{!-- <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
            </div> --}}

            {{!-- <div class="checkbox-container">
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>

                <a href="#">Forgot Password</a>
            </div>

           

            <small>Don't have an account? <a href="#">Sign up</a></small> --}}
        </div>

        <div class="features">
            <div class="feature">
                <i class="fas fa-code"></i>
                <h3>Development</h3>
                <p>A modern and clean design system for developing fast and powerful
                    web interfaces.</p>
            </div>
            <div class="feature">
                <i class="fas fa-gift"></i>
                <h3>Features</h3>
                <p>A modern and clean design system for developing fast and powerful
                    web interfaces.</p>
            </div>
            <div class="feature">
                <i class="fas fa-edit"></i>
                <h3>Updates</h3>
                <p>A modern and clean design system for developing fast and powerful
                    web interfaces.</p>
            </div>
        </div>
    </div>

      <script src="login.js"></script>
   
</body>
</html>